target/
!.mvn/wrapper/maven-wrapper.jar
/help.md
.mtj.tmp/
*.class
*.log
*.ctxt
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/
### VS Code ###
.vscode/
bin/
### Docker ###
docker/postgresql/data
