version: '3.8'

services:
  db:
    image: postgres:13
    container_name: asset-market-db
    restart: always
    environment:
      POSTGRES_DB: asset_market
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
